*{
    margin: 0;
    width: 0;
}

/* this is a top bannner box  */
#toper-banner{
    height: 100px;
    width: 100vw;
    background-color: aqua;
    text-align: center;
    font-size: 5em;
}

/* this is inner box in hero section */
#inner-box{
    height: 600px;
    width: 100vw;
    display: flex;
    justify-content: baseline;
    background-color: white;
}

#left-box{
    width: 280px;
    padding: 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;      
    align-items: flex-start;  
    
}
#home{
    font-size: 2rem;
    margin-bottom: 16px;
    padding-left: 50px
}

#left-inner-box{
    height: 300px;
    width: 200px;
    border: 2px solid black;
    margin: 0 auto;
}
.same{
    text-decoration: none;
    display: block;
}
#Practice-Question{
    padding: 2px;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
#Project-Idea{
    padding: 2px;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 20px;
}
#Tips-Tricks{
    padding: 2px;
    font-size: 20px;
    padding-top: 55px;
    padding-left: 20px;
}
#How-Use-AI{
    padding: 2px;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 20px;
}

#right-box{
    height: 600px;
    width: 100vw;
    border: 2px solid black;
}


#last-footer{
    width: 100vw;
    height: 73px;
    background-color: black;
    border-top: 3px solid red;
    color: white;
    font-size: 1.5rem;
}
