h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-decoration: underline double  red;

}
header p {
    color: black;
    font-family: arial;
    font-size: medium;
}
main p {
    color: black;
    font-size: large;
    font-family: Impact ;
    text-decoration: underline solid red;
}
body{
    background-color: rgb(187, 255, 255);
}
pre{
    font-size: 15px;
}

a{
   
    color: black;
    text-decoration: none;
    font-size: larger;
    font-family: Impact ;
    text-decoration: underline solid red;
}

#project{
        font-size: 15px;
     
}
#Pfistline{
    font-family: impact;
    font-size: 15px;  

}
.Pheadings{
    font-family: impact;
    font-size: 15px;  

}
.Pheadings1{
    font-family: impact;
    font-size: 15px;  

}
.Pheadings2{
    font-family: impact;
    font-size: 15px;  

}